@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1D2B64;
  --border-color: #2F9E44;
  --grid-bg: #ffffff;
  --card-bg: #f5f5f5;
  --glow-start: rgba(248, 205, 218, 0.8);
  --glow-mid: rgba(248, 205, 218, 0.6);
  --mouse-x: 50vw;
  --mouse-y: 50vh;
}

.dark {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --border-color: #ffffff;
  --grid-bg: #0f0f0f;
  --card-bg: #202020;
  --glow-start: rgba(255, 255, 255, 0.4);
  --glow-mid: rgba(200, 200, 200, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-anton);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anton), sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}
